@charset "UTF-8";
body {
  font-family: Montserrat;
  background-color: white;
  font-size: 1rem;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  margin-bottom: 15px;
}

.navbar-items {
  display: flex;
  gap: 50px;
  align-content: center;
  justify-content: center;
}
.navbar-items ul {
  width: 100%;
}
.navbar-items ul li {
  list-style: none;
  text-decoration: none;
}
.navbar-items ul li a {
  text-decoration: none;
  color: black;
}

.titulo {
  color: gold;
  font-weight: 800;
}

footer {
  margin-top: 100px;
  padding: 15px;
  height: 150px;
  width: 98%;
  background-color: rgb(104, 103, 103);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr 1fr 1fr);
}

@media (max-width: 425px) {
  .navbar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .gridsequipamiento {
    height: 500px;
    width: 1;
  }
  .gridsequipamiento img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
  .equipamiento h2 {
    font-size: 20px;
  }
  .equipamiento p {
    font-size: 13px;
  }
  .container-canas {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .container-canas h3 {
    font-size: 20px;
  }
  .container-canas ul li {
    font-size: 13px;
  }
  .container-carretes {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .container-carretes img {
    max-width: 350px;
    margin: none;
    border: none;
  }
  .container-carretes h3 {
    font-size: 20px;
  }
  .container-carretes ul li {
    font-size: 13px;
  }
  .container-lineas {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .container-lineas img {
    margin: none;
    border: none;
    max-width: 350px;
  }
  .container-lineas h3 {
    font-size: 20px;
  }
  .container-lineas ul li {
    font-size: 13px;
  }
  .container-cebos {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .container-cebos img {
    margin: none;
    border: none;
    max-width: 350px;
  }
  .container-cebos h3 {
    font-size: 20px;
  }
  .container-cebos ul li {
    font-size: 13px;
  }
  .container-accesorios {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .container-accesorios img {
    margin: none;
    border: none;
    max-width: 350px;
  }
  .container-accesorios h3 {
    font-size: 20px;
  }
  .container-accesorios ul li {
    font-size: 13px;
  }
  footer {
    background-color: grey;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
}
@media (max-width: 425px) {
  .lugares-img {
    height: 350px;
    object-fit: contain;
  }
  .parana {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .parana h3 {
    float: none;
    text-align: center;
  }
  .parana img {
    width: 400px;
  }
  .rio-uruguay {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .rio-uruguay img {
    margin: 10px;
    margin-bottom: 20px;
    width: 500px;
  }
  .ibera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .ibera img {
    float: none;
    width: 320px;
    margin: auto;
    margin-bottom: 20px;
  }
  .rioplata {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
  }
  .rioplata img {
    width: 320px;
    float: none;
    margin-right: 60PX;
  }
  .patagonia img {
    width: 400px;
    height: 200px;
    float: none;
    margin: auto;
    margin-bottom: 50px;
  }
  .patagonia h3 {
    display: none;
    margin-top: 20PX;
  }
  footer {
    background-color: gray;
    height: 100% px;
    width: 100% px;
  }
  .container-img {
    width: 400px;
  }
}
.img-mia-1 {
  height: 150px;
  width: 150px;
}

.carretemio {
  height: 150px;
  width: 150px;
}

.senuelomio {
  height: 150px;
  width: 150PX;
}

.consejos img {
  width: 100%;
  height: 100%;
}
.consejos h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 30PX;
}

.consj1 {
  margin-top: 50px;
}
.consj1 h2 {
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
}
.consj1 p {
  font-size: 16px;
  text-align: center;
}

.ceboylanzado {
  margin: 20px;
  margin-top: 50px;
  text-align: center;
}
.ceboylanzado h3 {
  font-size: 23px;
  text-decoration: underline;
}
.ceboylanzado p {
  font-size: 16px;
}

.csj3 {
  margin: 20px;
  margin-top: 50px;
  text-align: center;
}
.csj3 h3 {
  font-size: 23px;
  text-decoration: underline;
}
.csj3 p {
  font-size: 16px;
}

.entornogrids {
  display: grid;
  grid-template-columns: 1FR 100px 1FR 1FR 1FR 1FR;
  grid-template-rows: repeat(2, 200px) 60px;
  padding: 20px;
}
.entornogrids h3 {
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: px;
  grid-column: 2/4;
  grid-row: 1/2;
  text-decoration: underline;
}
.entornogrids p {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: TOP;
  padding-left: 15PX;
  order: 2;
  grid-column: 2/4;
  grid-row: 2/4;
  text-align: center;
}
.entornogrids img {
  width: 400px;
  height: 600px;
  order: 1;
  grid-column: 4/6;
  grid-row: 1/4;
  margin-left: 60px;
  height: 450px;
}

.equipogrids {
  display: grid;
  grid-template-columns: 1FR 1FR 1FR 1FR 1FR;
  grid-template-rows: 50px 50px repeat(2, 150px) 100px;
}
.equipogrids img {
  width: 550px;
  height: 400px;
  margin-left: 100px;
  grid-column: 1/3;
  grid-row: 1/4;
}
.equipogrids h3 {
  font-size: 23px;
  text-align: center;
  grid-column: 3/5;
  grid-row: 2/3;
  text-decoration: underline;
}
.equipogrids p {
  font-size: 16px;
  margin: 20px;
  grid-column: 3/5;
  grid-row: 3/4;
  text-align: center;
}

.gridsagua {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 50PX 1fr 1fr 1fr;
  grid-template-rows: 50px 150px 50px 200px 30px;
}
.gridsagua img {
  width: 400px;
  margin: 20px;
  margin-left: 100px;
  height: 450px;
  grid-column: 1/3;
  grid-row: 1/4;
}
.gridsagua h3 {
  grid-column: 4/6;
  text-align: center;
  font-size: 23px;
  text-decoration: underline;
}
.gridsagua p {
  grid-column: 4/6;
  grid-row: 2/4;
  text-align: center;
}
.gridsagua .h3-agua {
  grid-column: 4/6;
  grid-row: 3/4;
}
.gridsagua .p-agua {
  grid-column: 4/6;
  grid-row: 4/5;
}

.gridsambiente {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 180px 50px;
}
.gridsambiente img {
  order: 1;
  margin: 20px;
  margin-left: 100px;
  grid-column: 1/3;
  grid-row: 1/5;
  width: 400px;
  height: 500px;
}
.gridsambiente h3 {
  font-size: 23px;
  grid-column: 3/5;
  text-align: center;
  text-decoration: underline;
}
.gridsambiente P {
  font-size: 16px;
  grid-column: 3/5;
  text-align: center;
}
.gridsambiente .aprender {
  grid-row: 3/4;
}

.container-hook {
  margin-top: 25px;
  display: column;
  align-content: center;
  width: 100%;
}
.container-hook .img-hook {
  width: 100%;
  height: 700px;
}

.text-h1 {
  position: absolute;
  top: 0px; /* Ajusta según sea necesario */
  left: 40px;
  transform: translateX(-50%);
}
.text-h1 .offthehook {
  position: absolute;
  left: 100px;
  right: 100px;
  bottom: 100px;
  font-weight: 300;
}

.h2s-page1 {
  line-height: 2.3rem;
}

.gridsfish {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 250px);
}
.gridsfish img {
  object-fit: contain;
  grid-column: 2/6;
  grid-row: 1/2;
  order: 1;
}
.gridsfish h2 {
  font-size: 25px;
  grid-column: 2/3;
  grid-row: 1/2;
  order: 4;
  padding: 12PX;
  padding-bottom: 16px;
}
.gridsfish p {
  font-size: 16px;
  grid-column: 2/3;
  grid-row: 1/2;
  order: 2;
  align-content: end;
  padding: 10PX;
  background-color: white;
}

.gridsblog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 250px);
}
.gridsblog img {
  width: 100%;
  object-fit: contain;
  grid-column: 1/6;
  grid-row: 1/3;
  order: 1;
}
.gridsblog h2 {
  font-size: 25px;
  order: 4;
  grid-column: 4/5;
  grid-row: 1/2;
  padding: 10PX;
  padding-bottom: 16px;
}
.gridsblog p {
  font-size: 16px;
  order: 2;
  grid-column: 4/5;
  grid-row: 1/2;
  align-content: end;
  background-color: white;
  padding: 10PX;
}

.gridscontacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 130px 300px 160PX;
}
.gridscontacto img {
  grid-column: 2/5;
  grid-row: 2/3;
  order: 1;
}
.gridscontacto h2 {
  font-size: 25px;
  order: 4;
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 10px;
}
.gridscontacto p {
  font-size: 16px;
  order: 2;
  grid-column: 2/3;
  grid-row: 2/3;
  align-content: end;
  padding: 10px;
  background-color: white;
}

form {
  width: 700px;
  text-align: center;
  margin: auto;
}

legend {
  font-size: 25PX;
  font-weight: 600;
}

.fullname {
  margin: 30px;
  text-decoration: none;
  border: none;
}

input {
  margin: 10px;
  border: none;
  border-bottom: 1px solid black;
}

textarea {
  margin-top: 20PX;
}

.lugares img {
  width: 100%;
  height: 100%;
}
.lugares h1 {
  text-align: center;
  text-decoration: underline;
}

.lugares-recomendados h2 {
  text-align: center;
  font-size: 28px;
}
.lugares-recomendados p {
  font-size: 16PX;
  text-align: center;
}

.parana {
  margin: 150px auto;
  width: 90%;
}
.parana img {
  max-width: 400px;
  height: 300px;
  float: right;
  border: 3px solid white;
  margin-left: 15PX;
}

.rioplata {
  margin: 150px auto;
  width: 90%;
}
.rioplata img {
  max-width: 400px;
  height: 300px;
  float: left;
  border: 3px solid white;
  margin-right: 15PX;
}

.patagonia {
  margin: 150px auto;
  width: 90%;
}
.patagonia img {
  max-width: 400px;
  height: 300px;
  float: right;
  border: 3px solid white;
  margin-left: 15PX;
}

.rio-uruguay {
  margin: 150px auto;
}
.rio-uruguay img {
  max-width: 400px;
  height: 300px;
  float: left;
  border: 3px solid white;
  margin-right: 15PX;
}

.ibera {
  margin: 150px auto;
  width: 90%;
}
.ibera img {
  max-width: 400px;
  height: 300px;
  float: right;
  border: 3px solid white;
  margin-left: 15PX;
}

.equipamiento-pag2 h1 {
  font-size: 30PX;
  color: black;
  text-align: center;
  text-decoration: underline;
}
.equipamiento-pag2 img {
  width: 100%;
}
.equipamiento-pag2 p {
  grid-column: 2/4;
  grid-row: 3/4;
  order: 2;
  text-align: center;
}

.equipamiento h2 {
  text-align: center;
  font-size: 30px;
}
.equipamiento p {
  font-size: 16px;
  text-align: center;
}

.container-canas {
  margin: 150px auto;
  width: 90%;
}
.container-canas img {
  max-width: 500px;
  height: 400px;
  float: right;
  border: 3px solid white;
  margin-left: 15PX;
}

.container-carretes {
  margin: 150px auto;
  width: 90%;
}
.container-carretes img {
  max-width: 400px;
  height: 300px;
  float: left;
  border: 3px solid white;
  margin-right: 15PX;
}

.container-lineas {
  margin: 150px auto;
  width: 90%;
}
.container-lineas img {
  max-width: 400px;
  height: 300px;
  float: right;
  border: 3px solid white;
  margin-left: 15PX;
}

.container-cebos {
  margin: 150px auto;
  width: 90%;
}
.container-cebos img {
  max-width: 400px;
  height: 300px;
  float: left;
  border: 3px solid white;
  margin-right: 15PX;
}

.container-accesorios {
  margin: 150px auto;
  margin-top: 100px;
  width: 90%;
}
.container-accesorios img {
  max-width: 400px;
  height: 300px;
  float: right;
  border: 3px solid white;
  margin-left: 15PX;
}

.container-card {
  width: 15.625rem;
  height: 18.75rem;
  text-align: center;
  border-radius: 8PX;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.container-card div {
  width: 100%;
  height: 60%;
}
.container-card div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8PX;
  border-top-right-radius: 8PX;
}

.container-productos {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
