@charset "UTF-8";
body {
  font-family: Montserrat;
  background-color: white;
  font-size: 1rem;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  margin-bottom: 15px;
}

.navbar-items {
  display: flex;
  gap: 50px;
  align-content: center;
  justify-content: center;
}
.navbar-items ul {
  width: 100%;
}
.navbar-items ul li {
  list-style: none;
  text-decoration: none;
}
.navbar-items ul li a {
  text-decoration: none;
  color: black;
}

.titulo {
  color: gold;
  font-weight: 800;
}

footer {
  margin-top: 100px;
  padding: 15px;
  height: 220px;
  width: 95%;
  background-color: rgb(104, 103, 103);
}

.div-img img {
  width: 80%;
  margin: auto;
}

@media (max-width: 360px) {
  .navbar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 375px) {
  .gridsequipamiento img {
    height: 350px;
  }
  .parana {
    margin: auto;
  }
  .parana img {
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .patagonia img {
    width: 300px;
    height: 300px;
  }
  .rio-uruguay img {
    width: 300px;
    height: 300px;
  }
  .img-pescadorbarco {
    width: 300px;
    height: auto;
  }
}
@media (max-width: 425px) {
  .navbar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .gridsequipamiento {
    height: 500px;
    width: 1;
  }
  .gridsequipamiento img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
  .equipamiento h2 {
    font-size: 20px;
  }
  .equipamiento p {
    font-size: 13px;
  }
  .container-canas {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .container-canas h3 {
    font-size: 20px;
  }
  .container-canas ul li {
    font-size: 13px;
  }
  .container-carretes {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .container-carretes img {
    max-width: 350px;
    margin: none;
    border: none;
  }
  .container-carretes h3 {
    font-size: 20px;
  }
  .container-carretes ul li {
    font-size: 13px;
  }
  .container-lineas {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .container-lineas img {
    margin: none;
    border: none;
    max-width: 350px;
  }
  .container-lineas h3 {
    font-size: 20px;
  }
  .container-lineas ul li {
    font-size: 13px;
  }
  .container-cebos {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .container-cebos img {
    margin: none;
    border: none;
    max-width: 350px;
  }
  .container-cebos h3 {
    font-size: 20px;
  }
  .container-cebos ul li {
    font-size: 13px;
  }
  .container-accesorios {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .container-accesorios img {
    margin: none;
    border: none;
    max-width: 350px;
  }
  .container-accesorios h3 {
    font-size: 20px;
  }
  .container-accesorios ul li {
    font-size: 13px;
  }
  footer {
    background-color: grey;
    height: 400px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: auto;
  }
}
.container-img {
  width: 400px;
}

.img-principal {
  width: 100%;
}
.img-principal img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.h1-tienda {
  font-size: 23px;
}

.container-hook img {
  width: 100%;
  height: auto;
}

.gridfish {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 250px 250px 250px;
}

.entornogrids, .equipogrids, .gridsagua, .gridsambiente {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: 425px) {
  .gridsfish {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gridscontacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gridscontacto .container2letras {
    margin: auto;
    margin-left: 0;
  }
}
@media (max-width: 670px) {
  .gridsequipamiento img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .equipamiento h2 {
    font-size: 20px;
  }
  .equipamiento p {
    font-size: 13px;
  }
  .container-canas {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-canas h3 {
    font-size: 20px;
    margin: 40px;
  }
  .container-canas ul li {
    font-size: 13px;
  }
  .container-carretes {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-carretes img {
    max-width: 350px;
    margin: none;
    border: none;
  }
  .container-carretes h3 {
    font-size: 20px;
    margin: 40px;
  }
  .container-carretes ul li {
    font-size: 13px;
  }
  .container-lineas {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-lineas img {
    margin: none;
    border: none;
    max-width: 350px;
  }
  .container-lineas h3 {
    font-size: 20px;
  }
  .container-lineas ul li {
    font-size: 13px;
  }
  .container-cebos {
    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .container-cebos img {
    margin: none;
    border: none;
    max-width: 350px;
  }
  .container-cebos h3 {
    font-size: 20px;
  }
  .container-cebos ul li {
    font-size: 13px;
  }
  .container-accesorios {
    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .container-accesorios img {
    margin: none;
    border: none;
    max-width: 350px;
  }
  .container-accesorios h3 {
    font-size: 20px;
  }
  .container-accesorios ul li {
    font-size: 13px;
  }
}
.img-mia-1 {
  height: 150px;
  width: 150px;
}

.carretemio {
  height: 150px;
  width: 150px;
}

.senuelomio {
  height: 150px;
  width: 150PX;
}

@media (max-width: 768px) {
  .gridsequipamiento img {
    width: 100%;
  }
  .lugares-recomendados {
    text-align: center;
    width: 90%;
  }
  .parana {
    width: 90%;
  }
  .rioplata {
    width: 90%;
  }
  .rio-uruguay {
    width: 90%;
  }
  .ibera {
    width: 90%;
  }
  .img-principal {
    width: 760px;
  }
  .img-principal img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}
@media (max-width: 890px) {
  .gridsequipamiento img {
    width: 100%;
    height: 500px;
  }
}
.img-mia-1 {
  height: 150px;
  width: 150px;
}

.carretemio {
  height: 150px;
  width: 150px;
}

.senuelomio {
  height: 150px;
  width: 150PX;
}

.consejos img {
  width: 100%;
  height: 100%;
}
.consejos h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 30PX;
}

.consj1 {
  margin-top: 50px;
}
.consj1 h2 {
  text-decoration: underline;
  font-size: 30px;
  text-align: center;
}
.consj1 p {
  font-size: 16px;
  text-align: center;
}

.ceboylanzado {
  margin: 20px;
  margin-top: 50px;
  text-align: center;
}
.ceboylanzado h3 {
  font-size: 23px;
  text-decoration: underline;
}
.ceboylanzado p {
  font-size: 16px;
}

.csj3 {
  margin: 20px;
  margin-top: 50px;
  text-align: center;
}
.csj3 h3 {
  font-size: 23px;
  text-decoration: underline;
}
.csj3 p {
  font-size: 16px;
}

.entornogrids {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
}
.entornogrids .container1 {
  width: 400px;
  margin: auto;
  margin-top: 20px;
}
.entornogrids .container1 h3 {
  font-size: 23px;
  display: flex;
  text-align: center;
  padding: px;
  text-decoration: underline;
}
.entornogrids .container1 p {
  font-size: 16px;
  text-align: center;
}
.entornogrids .container1 img {
  width: 100%;
  height: 370px;
  object-fit: contain;
}

.equipogrids {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}
.equipogrids .container1 {
  width: 400px;
  margin: auto;
  margin-top: 20px;
}
.equipogrids .container1 img {
  width: 100%;
  height: 300px;
}
.equipogrids .container1 h3 {
  font-size: 23px;
  text-align: center;
  grid-column: 3/5;
  grid-row: 2/3;
  text-decoration: underline;
}
.equipogrids .container1 p {
  font-size: 16px;
  margin: 20px;
  grid-column: 3/5;
  grid-row: 3/4;
  text-align: center;
}

.gridsagua {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}
.gridsagua .container1 {
  margin: auto;
  margin-top: 20px;
}
.gridsagua .container1 img {
  width: 360px;
  height: 380px;
}
.gridsagua .container1 h3 {
  text-align: center;
  font-size: 23px;
  text-decoration: underline;
}
.gridsagua .container1 p {
  grid-column: 4/6;
  grid-row: 2/4;
  text-align: center;
}
.gridsagua .container1 .h3-agua {
  grid-column: 4/6;
  grid-row: 3/4;
}
.gridsagua .container1 .p-agua {
  grid-column: 4/6;
  grid-row: 4/5;
}

.gridsambiente {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
  justify-content: center;
}
.gridsambiente .container1 {
  width: 400px;
  margin: auto;
  margin-top: 20px;
}
.gridsambiente .container1 img {
  width: 350px;
  height: 320px;
}
.gridsambiente .container1 h3 {
  font-size: 23px;
  grid-column: 3/5;
  text-align: center;
  text-decoration: underline;
}
.gridsambiente .container1 P {
  font-size: 16px;
  grid-column: 3/5;
  text-align: center;
}

.container-hook {
  margin-top: 25px;
  display: column;
  align-content: center;
  width: 100%;
}
.container-hook .img-hook {
  width: 100%;
}

.text-h1 {
  position: absolute;
  top: 0px; /* Ajusta según sea necesario */
  left: 40px;
  transform: translateX(-50%);
}
.text-h1 .offthehook {
  position: absolute;
  left: 100px;
  right: 100px;
  bottom: 100px;
  font-weight: 300;
}

.h2s-page1 {
  line-height: 2.3rem;
}

.gridsfish {
  margin-top: 20px;
  display: flex;
}
.gridsfish .container2letras {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  width: 300px;
  height: 300px;
}
.gridsfish .container2letras h2 {
  font-size: 26px;
}
.gridsfish .container2letras p {
  font-size: 16px;
}
.gridsfish .container2 {
  justify-content: left;
  align-items: end;
}
.gridsfish .container2 img {
  width: 400px;
}

.gridsblog .h2blog h2 {
  text-align: center;
  text-decoration: underline;
}
.gridsblog .h2blog p {
  text-align: center;
}

img {
  width: 100%;
  object-fit: contain;
  grid-column: 1/6;
  grid-row: 1/3;
  order: 1;
}

h2 {
  font-size: 25px;
  order: 4;
  grid-column: 4/5;
  grid-row: 1/2;
  padding: 10PX;
  padding-bottom: 16px;
}

p {
  font-size: 16px;
  order: 2;
  grid-column: 4/5;
  grid-row: 2/3;
}

.gridscontacto {
  display: flex;
  margin-top: 30px;
}
.gridscontacto .container2letras {
  text-align: center;
  width: 400px;
  height: 300px;
}
.gridscontacto .container2letras h2 {
  font-size: 26px;
}
.gridscontacto .container2letras p {
  font-size: 16px;
}
.gridscontacto .container2 {
  justify-content: left;
  align-items: end;
}
.gridscontacto .container2 img {
  width: 400px;
}

form {
  width: 100%;
}

fieldset {
  width: 100%;
  margin: auto;
}

legend {
  font-size: 25PX;
  font-weight: 600;
}

.fullname {
  margin: 30px;
  text-decoration: none;
  border: none;
}

input {
  margin: 10px;
  border: none;
  border-bottom: 1px solid black;
}

textarea {
  margin-top: 20PX;
}

.lugares img {
  width: 100%;
  height: 100%;
}
.lugares h1 {
  text-align: center;
  text-decoration: underline;
}

.lugares-recomendados h2 {
  text-align: center;
  font-size: 28px;
}
.lugares-recomendados p {
  font-size: 16PX;
  text-align: center;
}

.parana {
  display: flex;
  margin: 30px;
  gap: 50PX;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.parana .div-img img {
  width: 300px;
  margin: auto;
}
.parana div {
  width: 350px;
}

.rioplata {
  display: flex;
  margin: 30px;
  gap: 50PX;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.rioplata .div-img img {
  width: 300px;
  margin: auto;
}
.rioplata div {
  width: 350px;
}

.patagonia {
  display: flex;
  margin: 30px;
  gap: 50PX;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.patagonia .div-img img {
  width: 300px;
  margin: auto;
}
.patagonia div {
  width: 350px;
}

.rio-uruguay {
  display: flex;
  margin: 30px;
  gap: 50PX;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.rio-uruguay .div-img img {
  width: 300px;
  margin: auto;
}
.rio-uruguay div {
  width: 350px;
}

.ibera {
  display: flex;
  margin: 30px;
  gap: 50PX;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ibera .div-img img {
  width: 300px;
  margin: auto;
}
.ibera div {
  width: 350px;
}

.equipamiento-pag2 h1 {
  font-size: 30PX;
  color: black;
  text-align: center;
  text-decoration: underline;
}
.equipamiento-pag2 img {
  width: 100%;
}
.equipamiento-pag2 p {
  grid-column: 2/4;
  grid-row: 3/4;
  order: 2;
  text-align: center;
}

.equipamiento h2 {
  text-align: center;
  font-size: 30px;
}
.equipamiento p {
  font-size: 16px;
  text-align: center;
}

.container-canas {
  margin: 150px auto;
  width: 90%;
}
.container-canas img {
  max-width: 500px;
  height: 400px;
  float: right;
  border: 3px solid white;
  margin-left: 15PX;
}

.container-carretes {
  margin: 150px auto;
  width: 90%;
}
.container-carretes img {
  max-width: 400px;
  height: 300px;
  float: left;
  border: 3px solid white;
  margin-right: 15PX;
}

.container-lineas {
  margin: 150px auto;
  width: 90%;
}
.container-lineas img {
  max-width: 400px;
  height: 300px;
  float: right;
  border: 3px solid white;
  margin-left: 15PX;
}

.container-cebos {
  margin: 150px auto;
  width: 90%;
}
.container-cebos img {
  max-width: 400px;
  height: 300px;
  float: left;
  border: 3px solid white;
  margin-right: 15PX;
}

.container-accesorios {
  margin: 150px auto;
  margin-top: 100px;
  width: 90%;
}
.container-accesorios img {
  max-width: 400px;
  height: 300px;
  float: right;
  border: 3px solid white;
  margin-left: 15PX;
}

.h1-tienda {
  text-align: center;
  text-decoration: underline;
  font-weight: 500;
}

.container-card {
  width: 15.625rem;
  height: 340px;
  text-align: center;
  border-radius: 8PX;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}
.container-card div {
  width: 100%;
  height: 60%;
}
.container-card div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8PX;
  border-top-right-radius: 8PX;
  transition: 2s;
}

.container-card img:hover {
  transform: scale(1.2);
  transition: 2s;
}

.container-productos {
  margin: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.img-principal {
  width: 100%;
  height: auto;
}

.tecnicas-pesca img {
  width: 100%;
  height: 100%;
}
.tecnicas-pesca h1 {
  text-align: center;
  text-decoration: underline;
}
.tecnicas-pesca p {
  font-size: 16px;
  text-align: center;
}

.container-tecnicas1 {
  width: 90%;
  margin: auto;
}
.container-tecnicas1 p {
  font-size: 16px;
  padding: 10px;
}
.container-tecnicas1 h4 {
  font-size: 18px;
  font-weight: 300;
  text-decoration: underline;
}
.container-tecnicas1 ul li {
  font-size: 16PX;
}

.tecnicas {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  color: black;
  text-decoration: underline;
}

.definicion {
  font-size: 1.0625rem;
  font-weight: 600;
  color: black;
}

.container-tecnicas {
  margin: auto;
  width: 90%;
}
.container-tecnicas p {
  font-size: 16px;
  padding: 10px;
}
.container-tecnicas h4 {
  font-size: 18px;
  font-weight: 300;
  text-decoration: underline;
}
.container-tecnicas li {
  font-size: 16PX;
}

/*# sourceMappingURL=style.css.map */
