.tecnicas-pesca{
    img{
        width: 100%;
        height: 100%;
    }
    h1{
        text-align: center;
        text-decoration: underline;
    }

        p {
            font-size: 16px;
            text-align: center;
        }

}
.container-tecnicas1{
    
    width: 90%;
    margin: auto;
    p  {
        font-size: 16px;
        padding: 10px;}
        h4 {
            font-size: 18px;
            font-weight: 300;
            text-decoration: underline;
        }
        ul li {
            font-size: 16PX;
        
        }

}
.tecnicas {
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    color: black;
    text-decoration: underline;
}
.definicion{
    font-size: 1.0625rem;
    font-weight: 600;
    color: black;
}
.container-tecnicas{
    margin: auto;
    width: 90%;
    p  {
        font-size: 16px;
        padding: 10px;
    }
    h4 {
        font-size: 18px;
        font-weight: 300;
        text-decoration: underline;
    }
    li {
        font-size: 16PX;
    
    }
}
