@mixin navbar {
    display: flex;
    gap:50px ;
    align-content: center;
    justify-content: center;
}
@mixin subtitle {
    font-size: 23px ;
    text-decoration: underline;
    text-align: center;
}
@mixin card{
    margin: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
