@media (max-width:768px){
    .gridsequipamiento img {
        width: 100%;
    }
    .lugares-recomendados{
        text-align: center;
        width: 90%;
    }
    .parana{
        width: 90%;
    }
    .rioplata {
        width: 90%;
    }
    .rio-uruguay{
        width: 90%;
    }
    .ibera{
        width: 90%;
    }
    footer{
        width: 100%;
    };
    .img-principal{
        width: 760px;
        img{
            width:100% ;
            height: 300px;
            object-fit: contain;
        }
    }

    }