@media (max-width:375px){
}
footer{
    height: 300px;
    width: 330PX;
}
@media (max-width:375px){
    .gridsequipamiento img {
        height: 350px;
    }
    .parana {
        margin: auto;
    }
    .parana img{
        width: 300px;
        height: 300px;
        margin: auto;
    }
    .patagonia img{
        width: 300px;
        height: 300px;
    }
    .rio-uruguay img {
        width: 300px;
        height: 300px;
    }
}