@media (max-width:720px){
    footer{
        width: 90%;
    }
}
footer{
    width: 100%;
}
.img-mia-1{
    height: 150px;
    width: 150px;
}
.carretemio{
    height: 150px;
    width: 150px;
}
.senuelomio{
    height: 150px;
    width: 150PX;
}